*{
    font-family: Outfit;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    background-color: #EEEADF;
}
/*SCROLLBAR HTML WHOLE BODY*/
body::-webkit-scrollbar {
    background-color: #fff;
    width: 10px;
}
body::-webkit-scrollbar-track {
    background-color: #4b4949;
}
body::-webkit-scrollbar-thumb {
    background-color: #4e4d4d;
    border-radius: 16px;
    border: 4px solid #f5994d;
}
body::-webkit-scrollbar-button {
    display:none;
}



/* NAVBAR PART ---------------------------------------- */
section nav {
    display: flex;
    align-items: center;
    position: fixed;
    right: 0;
    left: 0;
    background: #2e2c29;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    top: 0;
    z-index: 100; /*para nasa harap navbar*/
}
section nav .navLogo img {
    width: 320px;
    margin: 13px 0;
    padding-left: 4rem;
    padding-right: 3rem;
}
section nav ul {
    margin-right: auto;
}
section nav ul li {
    display: inline-block;
    margin: 0 25px;
}
section nav ul li a {
    text-decoration: none;
    color: #D8D8D8;
    font-weight: 500;
    font-size: 14px;
    transition: 0.1s;
}
section nav ul li a::after {
    content: '';
    width: 0;
    height: 5px;
    background: #eea216;
    display: block;
    transition: 0.2s linear;
}
section nav ul li a:hover::after {
    width: 100%;
}
section nav ul li a:hover {
    color: #f5994d;
}
section nav .navCons {
    margin-right: 3rem;
}
section nav .navCons i {
    font-size: 18px;
    color: #c2712f;
    cursor: pointer;
    transition: 0.3s;
    margin-right: 1rem;
}
section nav .navCons i:hover {
    color: #f1ac5c;
}
@media (max-width: 745px){
    section nav .navLogo img {
        width: 280px;
    }

}

/*yummy burger-----*/
.nav-menu{
    display: flex;
    justify-content: space-between;
}
.hamburger{
    display: none;
    cursor: pointer;
}
.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: rgb(211, 106, 46);
}
@media (max-width:745px){
    .hamburger{
        display: block;
        margin-left: -420px;
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu{
        position: fixed;
        top: 4rem;
        width: 100%;
        height: 0;
        flex-direction: column;
        background-color: #2e2c29;
        text-align: center;
        transition: 0.3s;
        overflow: hidden;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    }
    .nav-item{
        margin: auto;
    }
    .nav-menu.active{
        Left: 0;
        top: 4rem;
        height: 350px;
    }
    .hamburger {
        display: block;
        cursor: pointer;
    }
}

/*yong liked products menu -------------------------------------------------------- */
.triangle-up {
	opacity: 0;
	border-left: 10px solid transparent;
	border-right: 12px solid transparent;
	border-bottom: 15px solid #ffffff;
    position: absolute;
    cursor: default;
}
.triangle-up.active{
    opacity: 1;
    margin-top: 8px;
}
.liked-menu{
    position: absolute;
    top: -1rem;
    right: 1.5%;
    width: 100px;
    height: 30px;
    margin: 80px auto;
    background: #FFFFFF;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    transition: 0.3s;
    border-radius: 7px;
    opacity: 0;
}
.liked-menu.active{
    height: 550px;
    width: 450px;
    opacity: 1;
    box-shadow: 8px 8px 20px 0px rgba(0, 0, 0, 0.3);
}
.fav-image img{
    object-fit: cover;
    border-radius: 5px;
    width: 120px; 
    height: 80px; 
    margin-right: 40px;
}
.title{
    height: 55px;
    border-bottom: 1px solid #E1E8EE;
    padding: 12px 30px;
    color: #666666;
    font-size: 25px;
    font-weight: 400;
}
.item {
    padding: 15px 20px;
    display: flex;
}
.item:hover {
    background-color: #fcf9f9;
    cursor: pointer;
  }
/*.delete-btn {
    display: inline-block;
    cursor: pointer;
    width: 20px;
    height: 20px;
    background: url("icon/trash-can-regular.svg") no-repeat center;
}
.delete-btn:hover{
    background-color: #ec6f6f;
    transition: 0.3s;
    border-radius: 5px;
}*/
.description{
    position: relative;
}
.fav-name{
    position: relative;
    width: 50px;
    top: 25px;
    left: 0;
    font-size: 20px;
    color: #312E2E;
}
.fav-price{
    position: absolute;
    top: 25px;
    left: 155px;
    width: 50px;
    font-size: 15px;
    color: #ee9145;
}
/*SCROLLBAR IN liked menu NAVBAR-------------------------------------------------*/
.liked-menu::-webkit-scrollbar {
    background-color: #fff;
    width: 14px;
    border-radius: 8px;
}
.liked-menu::-webkit-scrollbar-track {
    background-color: #fff;
    border-radius: 8px;
}
.liked-menu::-webkit-scrollbar-thumb {
    background-color: #b89e7c;
    border-radius: 16px;
    border: 4px solid #fff;
}
.liked-menu::-webkit-scrollbar-button {
    display:none;
}
@media (max-width: 500px) {    
    .liked-menu{
        position: absolute;
        top: -1rem;
        left: 55%;
        width: 30px;
        height: 30px;
        margin: 80px auto;
        background: #FFFFFF;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        transition: 0.3s;
        border-radius: 7px;
        opacity: 0;
    }
    .liked-menu.active{
        left: 0%; 
        right: 9%;
        width: 85%;
    }
}

/*YONG CART MENU NAMANS*/
.cart-triangle-up {
	opacity: 0;
	border-left: 10px solid transparent;
	border-right: 12px solid transparent;
	border-bottom: 15px solid #ffffff;
    position: absolute;
    cursor: default;
}
.cart-triangle-up.active{
    opacity: 1;
    margin-top: 8px;
}
.cart-menu{
    position: absolute;
    top: -1rem;
    right: 1.5%;
    width: 100px;
    height: 30px;
    margin: 80px auto;
    background: #FFFFFF;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    transition: 0.3s;
    border-radius: 7px;
    opacity: 0;
}
.cart-menu.active{
    height: 550px;
    width: 450px;
    opacity: 1;
    box-shadow: 8px 8px 20px 0px rgba(0, 0, 0, 0.3);
}




/*HOMEPAGE PART---------------------------------------------------------------------*/
section .hometext{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    top: 33%;
    left: 150px;
}
section .hometext .home-text h1{
    font-size: 40px;
    letter-spacing: 3px;
    position: relative;
    left: 2%;
    animation-name: text-mobile;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 1.5s;
    opacity: 0;
    z-index: 2;
}
section .hometext .home-text h1 span{
    color: #F5994D;
    font-size: 100px;
    letter-spacing: 5px;
    z-index: 2;
}
/*para may borders ito lang paraan alam ko eh haha--------------*/
.home-text-support h1{
    position: absolute;
    color: #EEEADF;
    font-size: 100px;
    top: -3%;
    left: 1%;
    z-index: 1;
    animation-name: text-mobile;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 1.5s;
    opacity: 0;
}
.home-text-support1 h1{
    position: absolute;
    color: #EEEADF;
    font-size: 100px;
    top: 2%;
    left: 2%;
    z-index: 1;
    animation-name: text-mobile;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 1.5s;
    opacity: 0;
}
.home-text-support2 h1{
    position: absolute;
    color: #EEEADF;
    font-size: 100px;
    top: 2%;
    left: 3%;
    z-index: 1;
    animation-name: text-mobile;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 1.5s;
    opacity: 0;
}
.home-text-support3 h1{
    position: absolute;
    color: #EEEADF;
    font-size: 100px;
    top: -3%;
    left: 3%;
    z-index: 1;
    animation-name: text-mobile;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 1.5s;
    opacity: 0;
}
@keyframes text-mobile {
    from   { opacity: 0; transform: translate(-200px, 0); }
    to  { opacity: 1; transform: (666px, 0); }
}
section .home-btn{
    background: #FF9742;
    font-size: 17px;
    font-weight: bold;
    box-shadow: 3px 3px 2px 0px #adadad;
    position:absolute;
    cursor: pointer;
    padding: 13px 15px; 
    text-align: center;
    border-radius: 8px;
    margin-top: 20rem;
    left: 5%;
    animation-name: text-mobile;
    animation-duration: 1s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    opacity: 0;
    z-index: 1;
    width: 140px;
}
section .home-btn a{
    color: #42403c;
    margin-right: 5px;
    text-decoration: none;
    font-weight: lighter;
}
section .home-btn i{
    transition: 0.2s;
    color: #2E2C29;
}
section .home-btn:hover i{
    transform: translateX(2px);
    font-size: larger;
}
@media screen and (max-width: 710px) {
    section .hometext {
        left: 2%;
        transition: 1s;
    }
    section .hometext .home-text h1 {
        font-size: 30px;
        letter-spacing: 1px;
        transition: 1s;
    }
    section .hometext .home-text h1 span{
        font-size: 75px;
        letter-spacing: 1px;
        transition: 1s;
    }
    section .home-btn{
        left:5%;
        transition: 1s;
    }
    .home-text-support h1{
        display: none;
    }
    .home-text-support1 h1{
        display: none;
    }
    .home-text-support2 h1{
        display: none;
    }
    .home-text-support3 h1{
        display: none;
    }
}
@media screen and (max-width: 450px) {
    section .hometext {
        left: 1%;
        transition: 1s;
    }
    section .hometext .home-text h1 {
        font-size: 25px;
        letter-spacing: 1px;
        transition: 1s;
    }
    section .hometext .home-text h1 span{
        font-size: 60px;
        letter-spacing: 1px;
        transition: 1s;
    }
    section .home-btn{
        left:5%;
        transition: 1s;
    }
    .home-text-support h1{
        opacity: 0;
    }
    .home-text-support1 h1{
        opacity: 0;
    }
    .home-text-support2 h1{
        opacity: 0;
    }
    .home-text-support3 h1{
        opacity: 0;
    }
}


/*IMAGES NG MAIN PAGE ------------------------------ */
section .homeimage .lef{
    width: 480px;
    position: absolute;
    top: 5%;
    left: -5px;
    animation-name: home-img0;
    animation-duration: 1s;
}
section .homeimage .cof{
    width: 450px;
    position: absolute;
    top: -55px;
    left: -120px;
    transform: rotate(45deg);
    animation-name: home-img0;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    animation-delay: 1s;
    opacity: 0;
}
@keyframes home-img0 {
    from   { opacity: 0; transform: translate(-200px, 0); }
    to  { opacity: 1; transform: (666px, 0); }
}
section .homeimage .ben{
    width: 300px;
    transform: rotate(-10deg);
    position: absolute;
    top:50%;
    right: 50%;
    animation-name: home-img;
    animation-duration: 1s;
}
@keyframes home-img {
    from   { opacity: 0; transform: translate(200px, 0); }
    to  { opacity: 1; transform: (666px, 0); }
}
.circle img{
    position: absolute;
    left: 60%;
    bottom: 10%;
    z-index: 1;
    width: 600px;
    animation-name: circle-img;
    animation-duration: 1.5s;
}
@keyframes circle-img {
    from   { opacity: 0; transform: translate(0, 25px); }
    to  { opacity: 1; transform: (0px, 0); }
}

@media (max-width: 1520px){
    .circle img{
        width: 550px;
        bottom: 15%;
        left: 55%;
        transition: 1s;
    }
}
@media (max-width: 1230px){
    section .homeimage .ben {
        width: 300px;
        right: 35%;
        transition: 1s;
    }
    .circle img{
        display: none;
    }
}
@media (max-width: 900px) {
    section .homeimage .lef {
        width: 400px;
        left: -5px;
        top: 5%;
        transition: 1s;
    }
    section .homeimage .cof {
    width: 400px;   
    transition: 1s;    
    }
    section .homeimage .ben {
        transition: 1s;
        width: 220px;
    }
}
@media (max-width: 750px) {
    section .homeimage .ben {
        transition: 1s;
        width: 220px;
        right: 200px;
    }
}

@media (max-width: 500px) {
    section .homeimage .lef {
        width: 320px;
        left: -5px;
        top: 5%;
        transition: 1s;
    }
    section .homeimage .cof {
    width: 320px;   
    transition: 1s;    
    }
    section .homeimage .ben {
        transition: 1s;
        right: 80px;
        width: 200px;
    }
}

/*yung bg image + responsivenessn ------------------------------------- */
section .onolas .canofre{
    position: absolute;
    right: 0px;
    width: 50%;
    object-fit: cover;
    height: 100%;
    opacity: 1;
    z-index: -100;
}
section .onolas .fade{
    position: absolute;
    right: 0px;
    width: 50%;
    top: -80px;
    height: 950px;
    opacity: 1;
    z-index: -90;
}
@media (max-width: 1700px){
    section .onolas .canofre{
        height: 95%;
        transition: .1s;
    }
}
@media (max-width: 1440px) {
    section .onolas .fade{
        height: 900px;
        transition: .1s;
    }
    section .onolas .canofre{
        height: 90%;
        transition: .1s;
    }
}
@media (max-width: 1280px){
    section .onolas .fade{
        height: 890px;
        transition: .1s;
    }
    section .onolas .canofre{
        height: 787px;
        transition: .4s;
    }   
}
@media (max-width: 900px) {
    section .onolas .fade{
        height: 95.4%;
        transition: .4s;
    }
    section .onolas .canofre{
        height: 787px;
        transition: .4s;
    }   
}
@media (max-width: 710px) {
    section .onolas .fade{
        height: 95%;
        opacity: 0;
        transition: .2s;
    }
    section .onolas .canofre{
        height: 780px;
        opacity: 0;
        transition: .2s;
    }   
}






/*WAVE NI GIAN ------------------------------------------------------------*/
section .wave{
    position: relative;
    bottom: -700px;
    width: 100%; /*need i 110% para ma fill up buong space kaya magkaka changes na lahat ng css*/
    left: 0;
}
section .wave path{
fill: #2E2C29;
}

/*mini boxes feature and text-------------------*/
.details {
    background-color: #2e2c29;
    z-index: 1;
    width: 100%;/*ito rin i 114% para ma full sa responsiveness huhu*/
}
.boxes{
    display: flex;
    justify-content: space-between;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 800px;/*height ito nung baba*/
    margin-top: 695px;
    position: relative;
}
.box{
    margin-top: 50px;
    height: 90px;
    width: 95px;   
    background-color: #656565;
    border-radius: 12px;
}
.box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.text{
    display: flex;
    justify-content: space-between;
    margin-left: 15%;
    margin-right: 13.2%;
    position: relative;
    bottom: 790px;
}
.text h2{
    font-size: 23px;
    font-weight: 100;
    color: rgb(183, 185, 185);
}
.text-info{
    display: flex;
    justify-content: space-between;
    margin-left: 15%;
    margin-right: 6.8%;
    position: relative;
    bottom: 780px;
}
.text-info p{
    font-size: 13px;
    font-weight: 100;
    color: rgb(183, 185, 185);
    width: 250px;
    text-align: justify;
}
@media (max-width: 1600px) {
    .text-info p{
        width: 190px;
        margin-right: 2.5%;
     }
     .text h2{
        margin-right: -1%;
     }
}
@media (max-width: 1200px) {
    .text-info p{
        width: 148px;
        margin-right: 3.2%;
        font-size: 12px;
     }
     .text h2{
        font-size: 20px;
     }
    .box{
        height: 80px;
        width: 85px;   
    }
}
@media (max-width: 1050px){
    .text-info p{
        font-size: 11px;
        width: 145px;
        margin-right: 1.5%;
     }
     .text h2{
        margin-right: -3%;
     }
     .box{
        height: 70px;
        width: 75px;   
    }
}
@media (max-width: 840px){
    .text-info p{
        font-size: 11px;
        width: 120px;
        margin-right: 3%;
     }
     .text h2{
        margin-right: -0.5%;
        font-size: 17px;
     }
}
@media (max-width: 750px){/* itez itez*/
    .boxes{
        margin-left: 10%;
        margin-right: 10%;
    }
    .text{
        margin-left: 10%;
        margin-right: 7.5%;
    }
    .text-info{
        margin-left: 10%;
        margin-right: 1%;
    }
}
@media (max-width: 600px) {
    .boxes {
        top: 90px;
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        grid-gap: 50% 15%;  
        margin-right: 0%;
        margin-left: 15%; 
    }
    .text {
        bottom: 820px;
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        grid-gap: 520% 15%;
        margin-right: 0%;
        margin-left: 15%;
    }
    .text-info{
        bottom: 830px;
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        grid-gap: 110% 15%;
        margin-right:0%;
        margin-left: 15%;
    }
}
@media (max-width: 390px){
    .boxes {
        margin-left: 10%; 
    }
    .text {
        margin-left: 10%;
    }
    .text-info{
        margin-left: 10%;
    }
}


/*YONG MGA album and about coffeetime ---------------- */
.con{
    display: flex;
    margin-bottom: -10px;
    justify-content: space-evenly;
    margin-top: -600px;
}
.album h1{
    font-size: 45px;
    font-weight: 90;
    position: relative;
    bottom: 100px;
    color: rgb(183, 185, 185);
    height: 80px;
    right: -130px;
    width: 200px;
    
}
.album p{
    font-size: 20px;
    color: rgb(183, 185, 185);
    position: relative;
    top: 15px;
    right: 165px;
    text-align: justify;
    width: 30%;
}
.pictures{
    position:relative;
    bottom: 110px;
    left: 5%;
    height: 500px;
    width: 870px;   
    background-color: #656565;
    border-radius: 15px;
    overflow: hidden;
}
.bgdet img{
    position: absolute;
    width: 543px;
    right: 0%;
    top: 80.5%;
    z-index: 0;
}
.pictures img{
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 15px;   
}
@media screen and (max-width: 1745px){
    .album p{
        font-size: 22px;
        right: 55px;
        width: 30%;
        transition: 1s;
    }
    .album h1{
        transition: 1s;
        left: 10%;
    }
}
@media screen and (max-width: 1450px){
    .album h1{
        font-size: 40px;
        transition: 1s;
        left: 10%;
    }
    .album p{
        font-size: 20px;
        transition: 1s;
    }
    .bgdet img{
        position: absolute;
        width: 525px;
        right: 0%;
        top: 79%;
        z-index: 0;
    }
}
@media screen and (max-width: 1200px) {
    .pictures {
        width: 650px;
        height: 350px;
        align-items: center;
        left:3px;
    }
    .con {
        flex-direction: column;
        align-items: center;
        margin-bottom: -20px;
    }
    .album h1 {
        font-size: 40px;
        top:-70px;
        left: 0;
        text-align: center;
    }
    .album p {
        top: -90px;
        width: 100%;
        right: 0;
        width: 750px;
    }
    .bgdet img{
        width: 590px;
        top: 80%;
    }
}
@media screen and (max-width: 850px) {
    .pictures{
        width: 480px;
        height: 300px; 
    }
    .album h1 {
        font-size: 40px;
    }
    .album p {
        width: 85%;
        font-size: 90%;
    }
    .bgdet img{
        width: 510px;
        top: 75%;
    }
}
@media (max-width: 700px){
    .pictures{
        margin-top: 130px;
        width: 480px;
        height: 300px; 
    }
    .bgdet img{
        width: 550px;
        top: 80%;
    }
}
@media (max-width: 600px){
    .bgdet img{
        width: 640px;
        top: 80%;
    }
}

@media (max-width: 520px){
    .pictures{
        width: 425px;
        height: 260px; 
    }
    .bgdet img{
        top: 79%;
    }
}
@media (max-width: 450px){
    .pictures{
        width: 380px;
        height: 250px;
    }
}
@media (max-width: 395px){
    .pictures{
        width: 350px;
        height: 230px; 
    }
}




/*YONG MENU title---------------------------------------------------------*/
.menu h1{
    font-size: 50px;
    margin-top: 100px;
    margin-left: 100px;
    margin-bottom: 40px;    
}
.menu h1 span{
    color: #FD8700;
}
.menu h2{
    font-size: 40px;
    font-weight: 500;
    margin-left: 130px;
    margin-bottom: 50px;   
}
@media only screen and (max-width: 800px) {
    .menu h1 {
        font-size: 40px;
        margin-top: 80px;
        margin-left: 20px;
        margin-bottom: 30px;
    }
    .menu h2 {
        font-size: 32px;
        margin-left: 40px;
        margin-bottom: 40px;
    }
}
@media screen and (max-width: 450px){
    .menu h1 {
        font-size: 30px;
        margin-top: 80px;
        margin-left: 20px;
        margin-bottom: 30px;
    }
    .menu h2 {
        font-size: 25px;
        margin-left: 40px;
        margin-bottom: 40px;
    }
}

/*YONG MENU boxes*/
.all-menu{
    justify-content: center;
    display: flex;
    grid-gap: 20px;
    flex-wrap: wrap;
}
.menu-box{
    position: relative;
    width: 280px;
    height: 365px;
    padding-top: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    background-color: #F5994D;
    border-radius: 10px;
    margin-bottom: 80px;
}
/*MENU IMAGE + ANIMATION*/
.menu-image{
    width: 262px;
    height: 220px;
    margin: auto auto;
    overflow: hidden;
    border-radius: 7px;
    background-color: #c0bebe;
} 
.menu-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: 0.4s;
}
.menu-box:hover img{
    transform: scale(1.1);
}
.info h2{
    width: 100%;
    text-align: center;
    margin: 10px auto 10px auto;
    font-size: 25px;
    color: #fffbf7;
}
.info h3{
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
}
.info .add-btn{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #dfdfdf;
    background: #312E2E;
    padding: 8px 10px;
    margin: 0 65px;
    transition: 0.3s;
    border-radius: 7px;
    margin-top: 15px;  
}
/*LIKE BTN + ANIMATION*/
.btn{
    background-color: #312E2E;
    width: 38px;
    height: 34px;
    float: right;
    position: relative;
    right: 14px;
    transition: 0.2s;
    bottom: 35px;
    border-radius: 7px;
    opacity: 0;
}
.menu-box:hover .btn{
    opacity: 1;   
}
.btn:hover{
    cursor: pointer;
    transform: scale(1.06);
    transition: 0.2s;
}
.like-btn{
    position: relative;
    text-align: center;
    top: -5px;
    right: 3.55px;
    display: inline-block;
    background: url('images/twitter-heart.png');
    width: 45px;
    height: 45px;
    background-size: 2900%;
    background-repeat: no-repeat;
    cursor: pointer;
}
.is-active {
    animation-name: animate;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-timing-function: steps(28);
    animation-fill-mode: forwards;
}
@keyframes animate {
    0%   { background-position: left;  }
    50%  { background-position: right; }
    100% { background-position: right; }
}
@media (max-width: 600px) {
    .menu-box {
        width: 200px;
        height: 280px;
        margin-bottom: 40px;
    }
    .menu-image {
        width: 185px;
        height: 155px;
    }
    .info h2 {
        font-size: 20px;
    }
    .info h3{
        font-size: 15px;
    }
    .info .add-btn {
       width: 120px;
       height: 30px;
       margin: 0 20px;
       margin-top: 10px;
       font-size: 14px; 
    }
    .btn{
        top: -30px; 
        width: 32px;
        height: 30px;
        margin: 0 2px;
        opacity: 1;
    }
    .like-btn{
        right: 6.2px;
        top: -7px;
    }
}
@media (max-width: 450px) {
    .all-menu{
        grid-gap: 15px;
    }
    .menu-box {
        width: 190px;
        height: 280px;
        margin-bottom: 40px;
    }
    .menu-image {
        width: 180px;
        height: 155px;
    }
    .info .add-btn {
        width: 120px;
        height: 30px;
        margin: 0 15px;
        margin-top: 10px;
        font-size: 14px; 
    }
}
@media (max-width: 395px) {
    .all-menu{
        grid-gap: 10px;
    }
    .menu-box {
        width: 180px;
        height: 280px;
        margin-bottom: 40px;
    }
    .menu-image {
        width: 170px;
        height: 155px;
    }
    .info .add-btn {
        margin: 0 10px;
    }
    .btn{
        margin: 0 -5px;
    }
}

/*SEEMORE*/
.seemore{
    font-size: 25px;
    color: #312e2e;
    margin-bottom: 50px;
    position: relative;
    top: -40px;
    font-weight: 200;
    cursor: pointer;
    height: 20px;
    width: 135px;
    text-decoration: underline;
    right: -80%;
}
.seemore :hover{
    color: #f1ac5c;
}
@media (max-width: 700px){
    .seemore{
        right: -70%;
    }
}
@media (max-width: 500px){
    .seemore{
        top: 5px;
        right: -65%;
    }
}

/*menu preview --------------------------------------*/
/*KABILANG WEB BE LIKE*/
.overlay { /*DARK BG ITO SHADOW*/
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.644);
    display: none; /* Initially hidden */
    z-index: 10000;
}

.view-menu {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 450px;
    width: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    background-color: #F5994D;
    border-radius: 10px;
    overflow: hidden;
}
.overlay.active, .view-menu.active {
    display: block;
}
.prev-img{
    position: absolute;
    height: 435px;
    width: 434px;
    right: 41%;
    top: 1.7%;
    background-color: #666666;
    border-radius: 10px;
}
.prev-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: 0.4s;
    border-radius: 7px;
}

.prev-exit{
    position: absolute;
    height: 24px;
    width: 35px;
    background-color: rgba(131, 128, 128, 0);
    top: 0%;
    right: 0%;
    text-align: center;
    padding-top: 2px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 5px;
    cursor: pointer;
    transition: .3s;
}
.prev-exit:hover{
    background-color: red;
    transition: .3s;
}
.prev-info h2{
    position: absolute;
    width: 300px;
    left: 46%;
    top: 10%;
    font-size: 40px;
    color: #fffbf7;
}
.prev-info h3{
    position: absolute;
    font-size: 25px;   
    width: 200px;
    left: 63.5%;
    top: 4%;
}

@media (max-width: 800px){
    .view-menu{
        height: 650px;
        width: 450px;
    }
    .prev-img{
        position: relative;
        height: 335px;
        width: 430px;
        right: -2.5%;
        top: 1.5%;
        background-color: #666666;
        border-radius: 10px;
    }
    .prev-info h2{
        position: absolute;
        width: 300px;
        left: 0%;
        top: 60%;
        font-size: 40px;
        color: #fffbf7;
    }
    .prev-info h3{
        position: absolute;
        font-size: 25px;   
        width: 200px;
        left: 78%;
        top: 62%;
    }
    .prev-exit{
        position: absolute;
        height: 45px;
        width: 200px;
        background-color: #312E2E;
        top: 91%;
        left: 30%;
        text-align: center;
        border-radius: 7px;
        cursor: pointer;
        transition: .3s;
    }
    .prev-exit i{
        display: none;
    }
    .prev-exit:hover{
        background-color: rgb(247, 101, 101);
        transition: .3s;
    }
    .prev-exit h1{
        position: absolute;
        margin-top: 3%;
        right: 40%;
        color: wheat;
        font-weight: 100;
        font-size: 20px;
    }
}
@media (max-width: 500px){
    .view-menu{
        height: 450px;
        width: 250px;
    }
    .prev-img{
        position: relative;
        height: 220px;
        width: 240px;
        background-color: #666666;
        border-radius: 10px;
    }
    .prev-info h2{
        position: absolute;
        width: 300px;
        left: -3%;
        top: 52%;
        font-size: 30px;
        color: #fffbf7;
    }
    .prev-info h3{
        position: absolute;
        font-size: 25px;   
        width: 200px;
        left: 40%;
        top: 62%;
    }
    .prev-exit{
        position: absolute;
        height: 35px;
        width: 200px;
        background-color: #312E2E;
        top: 89.5%;
        left: 10%;
        text-align: center;
        border-radius: 7px;
        cursor: pointer;
        transition: .3s;
    }
    .prev-exit i{
        display: none;
    }
    .prev-exit:hover{
        background-color: rgb(247, 101, 101);
        transition: .3s;
    }
    .prev-exit h1{
        position: absolute;
        margin-top: 3%;
        right: 40%;
        color: wheat;
        font-weight: 100;
        font-size: 20px;
    }
}


/*SELECTA from  free frontend*/
.options h2{
    position: absolute;
    width: 300px;
    left: 46%;
    top: 35%;
    font-size: 20px;
}
:root {
    --background-gradient: linear-gradient(178deg, #ffff33 10%, #3333ff);
    --gray: #34495e;
    --darkgray: #2c3e50;
  }
select {
    /* Reset Select */
    appearance: none;
    outline: 10px red;
    border: 0;
    box-shadow: none;
    /* Personalize */
    flex: 1;
    padding: 0 1em;
    color: #fff;
    background-color: var(--darkgray);
    background-image: none;
    cursor: pointer;
  }
  /* Remove arrow */
  select::-ms-expand {
    display: none;
  }
  /* Custom Select wrapper */
  .select {
    position: absolute;
    left: 65%;
    top: 45%;
    display: flex;
    width: 230px;
    height: 40px;
    border-radius: 4px;
    overflow: hidden;
  }
  /* Arrow */
  .select::after {
    content: '\25BC';
    position: absolute;
    top: -5px;
    right: 0;
    padding: 1em;
    background-color: #34495e;
    transition: .25s all ease;
    pointer-events: none;
  }
  /* Transition */
  .select:hover::after {
    color: #f39c12;
  }
  @media (max-width: 800px){
    .options h2{
        width: 300px;
        left: 25%;
        top: 72%;
        font-size: 20px;
    }
    .select {
        left: 25%;
        top: 78%;
      }
  }
  @media (max-width: 500px){
    .options h2{
        width: 300px;
        left: -5%;
        top: 75%;
        font-size: 15px;
    }
    .select {
        left: 10%;
        top: 80%;
        width: 200px;
        height: 35px;
        border-radius: 7px;
      }
      .select::after {
        top: -8px;
      }
  }



/*footer na besh -------------------------------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #2e2c29;
    padding: 60px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
    z-index: 0;
   
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #f1ac5c;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
    z-index: 0;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
    z-index: 0;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}